# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/**/gradle-wrapper.jar
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/GeneratedPluginRegistrant.java

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/

# Coverage
coverage/
